  /* fix browser borders*/
*, *::before, *::after {
font-family: sans-serif;
box-sizing: border-box;
font-weight: normal;
padding: 0;
margin: 0;
}

      /* global content */
body {
padding: 0;
margin: 0;
background: linear-gradient(to right, rgb(202, 168, 174), rgb(180, 113, 113));
}

   /* header side */
.header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 20px 300px;
background-color:rgba(216, 198, 198, 0.328);
box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
color: white;
font-size: 20px;
}

.links {
display: flex;
justify-content: space-evenly;
gap: 30px;
} 
/*calculator/main side*/

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  width: 400px;
  margin: 100px;
  border: 2px solid;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.35);
}
.buttons-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}
.buttons-wrapper > button {
  cursor: pointer;
  font-size: 20px;
  font-weight:400;
  height: 50px;
  outline: none;
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  border: 1px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.7);
}

button:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
 
.clear-all-btn,
.equals-btn {
  grid-column: span 2;
}

.display {
  background-color: rgba(0, 0, 0, 0.7);
  grid-column: 1 / -1;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
  height: 75px;
}
.display > .previous-operand {
  color: rgba(255, 255, 255, 0.7);
  font-size:1.5rem;
}
.display > .current-operand {
  color: rgba(255, 255, 255);
  font-size: 2rem;
}
    /* global styles */
        
ul {
list-style: none;
display: flex;
margin: 0;
padding: 0;
}
        
li {
display: flex;
justify-content: center;
align-items: center;
}
        
a {
text-decoration: none;
}
